# pyspark 라이브러리 불러오기

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.functions import col
import pyspark.pandas as ps
import pandas as pd
import numpy as np

/home/himedia/.local/lib/python3.11/site-packages/pyspark/pandas/__init__.py:49: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/11/30 10:47:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

# 데이터 읽어오기
* spark.read.csv("파일경로", 옵션)

In [4]:
pwd

'/home/himedia'

In [4]:
df = spark.read.csv("./data/Taitanic_train.csv", header=True)

In [5]:
df2 = df

In [6]:
df

DataFrame[PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]

In [7]:
# 데이터 프레임 내용출력 .show()
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# 스키마 보기
* .printSchema()

In [8]:
# 스파크에서 스키마는 기본적으로 다 string으로 불러옴
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

# 데이터보기
* df.show()

In [ ]:
# df.show() pandas의 head() 기본 20줄
# 괄호 안에 숫자를 넣으면 그 숫자만큼 출력
df.show(3)

In [8]:
df2 = spark.read.csv("./data/airline_on_time/2008.csv", header = True)
df2.show(3)

23/11/30 10:48:05 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         3|        4|   1343|      1325|   1451|      1435|           WN|      588| N240WN|               68|            70|     55|      16|      18|   HOU| LIT|     393|     4|      9|        0|            null|       0|          16|           0|       0|            0|                0|
|2008|    1|         3|        4|   1125|      1120|   1247|      1245|           WN|     1343| N523SW|               82|            85|     71|       2|       5|   HOU| MAF|     441|     3|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   2009|      2015|   2136|      2140|           WN|     3841| N280WN|               87|            85|     71|      -4|      -6|   HOU| MAF|     441|     2|     14|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 3 rows

In [ ]:
df2.show(3, vertical=True)

In [9]:
import pandas as pd
df3 = pd.read_csv("./data/airline_on_time/2008.csv")
df3.head(3)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

# 컬럼이름 출력
* df.columns

In [ ]:
df.columns

In [ ]:
df2.columns

# summary = pandas의 describe와 동일
* count, mean, stddev, min, 25%, 50%, 75%, max

In [ ]:
df.summary().toPandas()

# 기초 통계량 보기
* pandas의 describe()와 동일
* .describe()

In [ ]:
df.describe().show(vertical=True)

# 데이터 프레임의 모든 정보보기, 일부만 보기
* .collect() 모든 데이터 출력
* .head() 첫 줄만 출력(괄호 안에 출력할 행 개수 지정 가능)
* .take(숫자) 지정한 숫자만큼 출력(숫자 지정 필수)
* .tail(숫자) 지정한 숫자만큼 끝에서부터 출력(숫자 지정 필수)

In [ ]:
df.collect()

In [ ]:
df.head(3)

In [ ]:
df.take(2)

In [ ]:
df.tail(2)

In [ ]:
df.show(3)

In [ ]:
df2.head()

# 데이터 프레임에서 특정 컬럼 선택해 출력하기
* .select('컬럼명').show()

In [10]:
df.select('Age').show()

+----+
| Age|
+----+
|  22|
|  38|
|  26|
|  35|
|  35|
|null|
|  54|
|   2|
|  27|
|  14|
|   4|
|  58|
|  20|
|  39|
|  14|
|  55|
|   2|
|null|
|  31|
|null|
+----+
only showing top 20 rows

In [ ]:
df.select(df['Age']).show()

In [ ]:
df.select(df.Age).show()

In [ ]:
df.select(col("Age")).show()

# 여러 컬럼을 선택할 때
* .select(['컬럼명1', '컬럼명2'])

In [13]:
df.select(['Age','Sex']).show()

+----+------+
| Age|   Sex|
+----+------+
|  22|  male|
|  38|female|
|  26|female|
|  35|female|
|  35|  male|
|null|  male|
|  54|  male|
|   2|  male|
|  27|female|
|  14|female|
|   4|female|
|  58|female|
|  20|  male|
|  39|  male|
|  14|female|
|  55|female|
|   2|  male|
|null|  male|
|  31|female|
|null|female|
+----+------+
only showing top 20 rows

# 각 컬럼의 데이터 타입 출력하기
* .dtypes

In [14]:
df.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [ ]:
df2.dtypes

In [11]:
import pyspark.sql.functions as f

In [12]:
df.select(f.col('Age')).show()

+----+
| Age|
+----+
|  22|
|  38|
|  26|
|  35|
|  35|
|null|
|  54|
|   2|
|  27|
|  14|
|   4|
|  58|
|  20|
|  39|
|  14|
|  55|
|   2|
|null|
|  31|
|null|
+----+
only showing top 20 rows

# spark 데이터 프레임을 pandas 데이터 프레임으로 표시하기
* .toPandas()

In [13]:
import pyspark.pandas as ps

In [45]:
!pip install pyarrow

Requirement already satisfied: pyarrow in ./.conda/envs/spark/lib/python3.11/site-packages (14.0.1)
Requirement already satisfied: numpy>=1.16.6 in ./.conda/envs/spark/lib/python3.11/site-packages (from pyarrow) (1.26.0)

In [14]:
df.describe().toPandas()

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,891,891,891,891,891,714,891,891,891,891,204,889
1,mean,446.0,0.3838383838383838,2.308641975308642,None,None,29.69911764705882,0.5230078563411896,0.38159371492704824,260318.54916792738,32.2042079685746,None,None
2,stddev,257.3538420152301,0.48659245426485753,0.8360712409770491,None,None,14.526497332334035,1.1027434322934315,0.8060572211299488,471609.26868834975,49.69342859718089,None,None
3,min,1,0,1,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",female,0.42,0,0,110152,0,A10,C
4,max,99,1,3,"van Melkebeke, Mr. Philemon",male,9,8,6,WE/P 5735,93.5,T,S

# 데이터 프레임 출력 행 수 정하기
* limit(숫자)

In [ ]:
df.limit(3).toPandas()

In [ ]:
df.limit(10).show()

# 새로운 컬럼 추가하기
* .withColumn('컬럼명', 데이터)

In [15]:
# 타이타닉 데이터에서 SipSp, Parch 컬럼을 합쳐서 family 컬럼 만들기
df.withColumn('family', df['Sibsp'] + df['Parch']).show()
# 문자 + 문자 인데 숫자가 나옴 ㅎ;

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|family|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|   1.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|   1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|   0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|   1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|   0.0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|   0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|   0.0|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|   4.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|   2.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|   1.0|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|   2.0|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|   0.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|   0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|   6.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|   0.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|   0.0|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|   5.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|   0.0|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|   1.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|   0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

In [20]:
# 주의!!! 스파크에서 show() 하고 할당하면 데이터 날아감..;; 아래 코드 하면 안됨. 할당할때는 show() 없애고 할당해야함
# df = df.withColumn('family', df['Sibsp'] + df['Parch']).show()
df = df.withColumn('family', df['Sibsp'] + df['Parch'])

In [16]:
# 스파크로 할땐 데이터 타임 꼭 찍어보기 string + stirng = double
# Sibsp와 Parch는 모두 string 타입이지만 자동으로 숫자로 변환되어 계산 됨
# 저장된 데이터 타입은 double
df.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [ ]:
# spark에서 .show()로 출력한 결과는 NoneType 이므로 변수에 할당하면 안됨.
df.show(3)

# 컬럼 삭제하기
* .drop('컬럼명')

In [ ]:
# 판다스에서 .drop 은 행을 지우는거 axis=1 을 해줘야 컬럼을 삭제해줌
# 스파크는 기본이 컬럼삭제 , 행삭제는 없음

In [17]:
df.drop('Sibsp', 'Parch').show()

+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
only showing top 20 rows

In [18]:
# 할당 안해주면 삭제 안됨 (순서: 결과 한번 보고 show() 지우고 다시 할당)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [19]:
df = df.drop('Sibsp', 'Parch')

In [ ]:
df.show()

# 컬럼 이름 바꾸기
* .withColumnRenamed('원래이름', '새이름')

In [20]:
df.withColumnRenamed('Cabin', 'new_cabin').show()

+-----------+--------+------+--------------------+------+----+----------------+-------+---------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|          Ticket|   Fare|new_cabin|Embarked|
+-----------+--------+------+--------------------+------+----+----------------+-------+---------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25|     null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|      C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925|     null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1|     C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|          373450|   8.05|     null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|          330877| 8.4583|     null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|      E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|          349909| 21.075|     null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|          347742|11.1333|     null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|          237736|30.0708|     null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|       G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|          113783|  26.55|     C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05|     null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|          347082| 31.275|     null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542|     null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|          248706|     16|     null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|          382652| 29.125|     null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|          244373|     13|     null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|          345763|     18|     null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|            2649|  7.225|     null|       C|
+-----------+--------+------+--------------------+------+----+----------------+-------+---------+--------+
only showing top 20 rows

# 컬럼이름 여러개 바꾸기
* .withColumnsRenamed({'원래이름1':'새이름1', '원래이름2':'새이름2'}) pyspark 3.4 버전 이후
* .withColumnRenamed('원래이름1','새이름1').withColumnRenamed('원래이름2','새이름2')

In [21]:
df.withColumnRenamed('Cabin','객실').withColumnRenamed('Sex','성별').show()

+-----------+--------+------+--------------------+------+----+----------------+-------+----+--------+
|PassengerId|Survived|Pclass|                Name|  성별| Age|          Ticket|   Fare|객실|Embarked|
+-----------+--------+------+--------------------+------+----+----------------+-------+----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25|null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833| C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925|null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1|C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|          373450|   8.05|null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|          330877| 8.4583|null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625| E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|          349909| 21.075|null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|          347742|11.1333|null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|          237736|30.0708|null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|  G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|          113783|  26.55|C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05|null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|          347082| 31.275|null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542|null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|          248706|     16|null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|          382652| 29.125|null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|          244373|     13|null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|          345763|     18|null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|            2649|  7.225|null|       C|
+-----------+--------+------+--------------------+------+----+----------------+-------+----+--------+
only showing top 20 rows

# 결측값인 행 찾아서 개수 세기

In [26]:
df.select('Age')

DataFrame[Age: string]

In [22]:
import pyspark.sql.functions as f
# * 는 리스트 언패킹 할때 쓰는거
df.select(*(f.sum(f.col(c).isNull().cast('int')).alias(c) for c in df.columns)).show()

+-----------+--------+------+----+---+---+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+------+----+-----+--------+

In [23]:
df.isNull()

AttributeError: 'DataFrame' object has no attribute 'isNull'

In [24]:
df.select(f.sum(f.col('Age').isNull().cast('int')).alias('Age')).show()

+---+
|Age|
+---+
|177|
+---+

# 결측값 처리
* .na.drop() 결측값이 있는 행 삭제

In [25]:
df.na.drop().show()

+-----------+--------+------+--------------------+------+---+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|     248698|      13|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male| 28|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male| 19|      19950|     263|C23 C25 C27|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female| 49|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male| 65|     113509| 61.9792|        B30|       C|
|         63|       0|     1|Harris, Mr. Henry...|  male| 45|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female| 29| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male| 25|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female| 23|      19950|     263|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male| 46|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male| 71|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male| 23|   PC 17759| 63.3583|    D10 D12|       C|
|        103|       0|     1|White, Mr. Richar...|  male| 21|      35281| 77.2875|        D26|       S|
|        111|       0|     1|Porter, Mr. Walte...|  male| 47|     110465|      52|       C110|       S|
|        119|       0|     1|Baxter, Mr. Quigg...|  male| 24|   PC 17558|247.5208|    B58 B60|       C|
+-----------+--------+------+--------------------+------+---+-----------+--------+-----------+--------+
only showing top 20 rows

In [26]:
# 몇개가 삭제됐는지 보기 위해 판다스로 봐줌
df.na.drop().toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    object
 1   Survived     183 non-null    object
 2   Pclass       183 non-null    object
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    object
 6   Ticket       183 non-null    object
 7   Fare         183 non-null    object
 8   Cabin        183 non-null    object
 9   Embarked     183 non-null    object
dtypes: object(10)
memory usage: 14.4+ KB

* .na.drop(subset='컬럼명') 특정 컬럼을 기준으로 결측이 있는 행 삭제

In [27]:
# Cabin이 결측인 행 모두 삭제
df.na.drop(subset='Age').toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    object
 1   Survived     714 non-null    object
 2   Pclass       714 non-null    object
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    object
 6   Ticket       714 non-null    object
 7   Fare         714 non-null    object
 8   Cabin        185 non-null    object
 9   Embarked     712 non-null    object
dtypes: object(10)
memory usage: 55.9+ KB

* .na.drop(subset=['컬럼명1','컬럼명2']) 여러 컬럼을 기준으로 결측이 있는 행 삭제

In [28]:
df.na.drop(subset=['Age','Embarked']).toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    object
 1   Survived     712 non-null    object
 2   Pclass       712 non-null    object
 3   Name         712 non-null    object
 4   Sex          712 non-null    object
 5   Age          712 non-null    object
 6   Ticket       712 non-null    object
 7   Fare         712 non-null    object
 8   Cabin        183 non-null    object
 9   Embarked     712 non-null    object
dtypes: object(10)
memory usage: 55.8+ KB

In [34]:
df.drop('Cabin').na.drop().toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    object
 1   Survived     712 non-null    object
 2   Pclass       712 non-null    object
 3   Name         712 non-null    object
 4   Sex          712 non-null    object
 5   Age          712 non-null    object
 6   Ticket       712 non-null    object
 7   Fare         712 non-null    object
 8   Embarked     712 non-null    object
 9   family       712 non-null    float64
dtypes: float64(1), object(9)
memory usage: 55.8+ KB

# 결측값 대치
* .na.fill('대치값', subset='컬럼명')

In [42]:
# f.mean 평균
df.select(f.mean('Age')).show()

+------------------+
|          avg(Age)|
+------------------+
|29.679271708683473|
+------------------+

In [29]:
df.na.fill('29', 'Age').show()

+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 29|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 29|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 29|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
only showing top 20 rows

In [53]:
df.na.fill('29', 'Age').show()

+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
only showing top 20 rows

In [54]:
df.show()

+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
only showing top 20 rows

In [55]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     891 non-null    int32
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   Ticket       891 non-null    object
 7   Fare         891 non-null    object
 8   Cabin        204 non-null    object
 9   Embarked     889 non-null    object
dtypes: float64(1), int32(1), object(8)
memory usage: 66.3+ KB

# 컬럼 데이터 타입 바꾸기
* .withColumn('컬럼명', '컬럼명'.cast('자료형'))

In [56]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [48]:
# Age 컬럼의 데이터 타입을 int
# 아래 코드 둘다 가능!
# df.withColumn('Age', f.col('Age').cast('Integer')).toPandas().info()
# df.withColumn('Age', df['Age'].cast('Integer')).toPandas().info()
df = df.withColumn('Age', df['Age'].cast('Integer'))

In [49]:
# Survived 를 int 로
df = df.withColumn('Survived', df['Survived'].cast('Integer'))

In [50]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

# pyspark의 imputer를 사용한 결측값 처리

In [ ]:
df.printSchema()

In [57]:
df.select(f.sum(df['Age'].isNull().cast('int'))).show()

+-------------------------------+
|sum(CAST((Age IS NULL) AS INT))|
+-------------------------------+
|                            177|
+-------------------------------+

In [58]:
df = df.withColumn('Age', df['Age'].cast('Integer'))

In [59]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [60]:
from pyspark.ml.feature import Imputer

In [62]:
# setStrategy('mean', 'median', 'mode') mode는 최빈값(가장많이나온값)
imputer = Imputer(inputCols=['Age'], outputCols=['Age']).setStrategy('mean')
imputer.fit(df).transform(df).show()

+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 29|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 29|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 29|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
only showing top 20 rows

# 원하는 조건의 행/컬럼 필터링 하기
.filter(조건)

In [63]:
df.filter('Age > 29').show()

+-----------+--------+------+--------------------+------+---+----------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|    Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+----------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|  PC 17599|71.2833|  C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|     17463|51.8625|  E46|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    347082| 31.275| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    248706|     16| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    345763|     18| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male| 35|    239865|     26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|    248698|     13|  D56|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female| 38|    347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male| 40|  PC 17601|27.7208| null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male| 66|C.A. 24579|   10.5| null|       S|
|         36|       0|     1|Holverson, Mr. Al...|  male| 42|    113789|     52| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female| 40|      7546|  9.475| null|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female| 49|  PC 17572|76.7292|  D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male| 65|    113509|61.9792|  B30|       C|
|         62|       1|     1| Icard, Miss. Amelie|female| 38|    113572|     80|  B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male| 45|     36973| 83.475|  C83|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male| 32|C.A. 33111|   10.5| null|       S|
+-----------+--------+------+--------------------+------+---+----------+-------+-----+--------+
only showing top 20 rows

# 2개 이상의 조건으로 검색할 때
* pandas의 .loc와 비슷한 문법 .loc => .filter

In [65]:
# 나이가 20살 초과 50살 미만
df.filter((df['Age'] > 20) & (df['Age'] < 50)).show()

+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|          373450|   8.05| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|          347742|11.1333| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|          347082| 31.275| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|          345763|     18| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male| 35|          239865|     26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|          248698|     13|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male| 28|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female| 38|          347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male| 40|        PC 17601|27.7208| null|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male| 28|        PC 17604|82.1708| null|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male| 42|          113789|     52| null|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|  male| 21|      A./5. 2152|   8.05| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female| 40|            7546|  9.475| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female| 27|           11668|     21| null|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male| 21|      A/4. 39886|    7.8| null|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female| 49|        PC 17572|76.7292|  D33|       C|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
only showing top 20 rows

In [66]:
# 나이가 20살 초과 50살 미만이면서 남자인 사람
df.filter((df['Age'] > 20) & (df['Age'] < 50) & (df['Sex'] == 'male')).show()

+-----------+--------+------+--------------------+----+---+------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex|Age|      Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+---+------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male| 22|   A/5 21171|   7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male| 35|      373450|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|male| 39|      347082| 31.275| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|male| 35|      239865|     26| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|male| 34|      248698|     13|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|male| 28|      113788|   35.5|   A6|       S|
|         31|       0|     1|Uruchurtu, Don. M...|male| 40|    PC 17601|27.7208| null|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|male| 28|    PC 17604|82.1708| null|       C|
|         36|       0|     1|Holverson, Mr. Al...|male| 42|      113789|     52| null|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|male| 21|  A./5. 2152|   8.05| null|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|male| 21|  A/4. 39886|    7.8| null|       S|
|         58|       0|     3| Novel, Mr. Mansouer|male| 28|        2697| 7.2292| null|       C|
|         61|       0|     3|Sirayanian, Mr. O...|male| 22|        2669| 7.2292| null|       C|
|         63|       0|     1|Harris, Mr. Henry...|male| 45|       36973| 83.475|  C83|       S|
|         70|       0|     3|   Kink, Mr. Vincenz|male| 26|      315151| 8.6625| null|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|male| 32|  C.A. 33111|   10.5| null|       S|
|         73|       0|     2|Hood, Mr. Ambrose Jr|male| 21|S.O.C. 14879|   73.5| null|       S|
|         74|       0|     3|Chronopoulos, Mr....|male| 26|        2680|14.4542| null|       C|
|         75|       1|     3|       Bing, Mr. Lee|male| 32|        1601|56.4958| null|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|male| 25|      348123|   7.65|F G73|       S|
+-----------+--------+------+--------------------+----+---+------------+-------+-----+--------+
only showing top 20 rows

# 원하는 조건으로 필터링 후 특정 컬럼만 보기

In [67]:
df.filter((df['Age'] > 20) & (df['Age'] < 50) & (df['Sex'] == 'male')).select(['Name','Age','Sex']).show()

+--------------------+---+----+
|                Name|Age| Sex|
+--------------------+---+----+
|Braund, Mr. Owen ...| 22|male|
|Allen, Mr. Willia...| 35|male|
|Andersson, Mr. An...| 39|male|
|Fynney, Mr. Joseph J| 35|male|
|Beesley, Mr. Lawr...| 34|male|
|Sloper, Mr. Willi...| 28|male|
|Uruchurtu, Don. M...| 40|male|
|Meyer, Mr. Edgar ...| 28|male|
|Holverson, Mr. Al...| 42|male|
|Cann, Mr. Ernest ...| 21|male|
|Nosworthy, Mr. Ri...| 21|male|
| Novel, Mr. Mansouer| 28|male|
|Sirayanian, Mr. O...| 22|male|
|Harris, Mr. Henry...| 45|male|
|   Kink, Mr. Vincenz| 26|male|
|Jenkin, Mr. Steph...| 32|male|
|Hood, Mr. Ambrose Jr| 21|male|
|Chronopoulos, Mr....| 26|male|
|       Bing, Mr. Lee| 32|male|
|Moen, Mr. Sigurd ...| 25|male|
+--------------------+---+----+
only showing top 20 rows

# 특정 조건이 아닌 행 보기 ~로 부정

In [68]:
df.filter(~(df['Age'] > 30) & ~(df['Sex'] == 'male')).show()

+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|STON/O2. 3101282|  7.925| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|         PP 9549|   16.7|   G6|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|          350406| 7.8542| null|       S|
|         23|       1|     3|"McGowan, Miss. A...|female| 15|          330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female|  8|          349909| 21.075| null|       S|
|         39|       0|     3|Vander Planke, Mi...|female| 18|          345764|     18| null|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female| 14|            2651|11.2417| null|       C|
|         42|       0|     2|Turpin, Mrs. Will...|female| 27|           11668|     21| null|       S|
|         44|       1|     2|Laroche, Miss. Si...|female|  3|   SC/Paris 2123|41.5792| null|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female| 19|          330958| 7.8792| null|       Q|
|         50|       0|     3|Arnold-Franchi, M...|female| 18|          349237|   17.8| null|       S|
|         54|       1|     2|Faunthorpe, Mrs. ...|female| 29|            2926|     26| null|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female| 21|      C.A. 31026|   10.5| null|       S|
|         59|       1|     2|West, Miss. Const...|female|  5|      C.A. 34651|  27.75| null|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female| 29|      C.A. 29395|   10.5|  F33|       S|
|         69|       1|     3|Andersson, Miss. ...|female| 17|         3101281|  7.925| null|       S|
|         72|       0|     3|Goodwin, Miss. Li...|female| 16|         CA 2144|   46.9| null|       S|
|         80|       1|     3|Dowdell, Miss. El...|female| 30|          364516| 12.475| null|       S|
+-----------+--------+------+--------------------+------+---+----------------+-------+-----+--------+
only showing top 20 rows

# groupby 연산하기
* .groupby('컬럼명').연산함수(sum, mean, max, min)

In [69]:
df.groupby('Age').mean().show()

+----+-------------------+--------+
| Age|      avg(Survived)|avg(Age)|
+----+-------------------+--------+
|  31|0.47058823529411764|    31.0|
|  65|                0.0|    65.0|
|  53|                1.0|    53.0|
|  34|              0.375|    34.0|
|  28|0.25925925925925924|    28.0|
|  26| 0.3333333333333333|    26.0|
|  27| 0.6111111111111112|    27.0|
|  44| 0.3333333333333333|    44.0|
|  12|                1.0|    12.0|
|  22| 0.4074074074074074|    22.0|
|  47| 0.1111111111111111|    47.0|
|null| 0.2937853107344633|    null|
|   1| 0.7142857142857143|     1.0|
|  52|                0.5|    52.0|
|  13|                1.0|    13.0|
|  16|0.35294117647058826|    16.0|
|   6| 0.6666666666666666|     6.0|
|   3| 0.8333333333333334|     3.0|
|  20|             0.1875|    20.0|
|  40|                0.4|    40.0|
+----+-------------------+--------+
only showing top 20 rows

# groupby 후 컬럼별 다른 연산 적용하기
* 연산함수는 mean median .. 
* .agg({'컬럼명' : '연산함수', '컬럼명2' : '연산함수2'}).show()

In [70]:
# 딕셔너리에서 컬럼명이 중복되면 마지막 컬럼명만 나옴 다 나오게 하려면 아래아래 코드 참고
df.agg({'Age':'mean', 'Embarked': 'count', 'Age':'max'}).show()

+---------------+--------+
|count(Embarked)|max(Age)|
+---------------+--------+
|            889|      80|
+---------------+--------+

In [71]:
# 만약 컬럼명이 동일하면 마지막 컬럼만 나오는데 컬럼명이 중복되더라도 다 보이게 하려면 아래와 같이 f.연산함수
df.agg(f.mean(df['Age']), f.max(df['Age']), f.min(df['Age'])).show()

+------------------+--------+--------+
|          avg(Age)|max(Age)|min(Age)|
+------------------+--------+--------+
|29.679271708683473|      80|       0|
+------------------+--------+--------+

In [72]:
# 성별별, Pclass별 생존자 수 구하기
df.groupby('Sex', 'Pclass').agg({'Survived':'sum'}).show()

+------+------+-------------+
|   Sex|Pclass|sum(Survived)|
+------+------+-------------+
|female|     3|           72|
|  male|     2|           17|
|female|     1|           91|
|  male|     1|           45|
|  male|     3|           47|
|female|     2|           70|
+------+------+-------------+

In [73]:
df.show()

+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+----------------+-------+-----+--------+
only showing top 20 rows

In [74]:
# 필요한 컬럼 외 전부 drop 시켜주기
df = df.drop('Fare', 'Cabin', 'PassengerId', 'Name','SibSp','Parch','Ticket')

In [78]:
df = df.na.fill(29, 'Age') # 평균값으로 결측값 채워주기

In [75]:
df.toPandas()['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [76]:
df = df.na.fill('S', 'Embarked') # Embarked는 가장 많은 값인 S로 채워줌

In [79]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int32
 1   Pclass    891 non-null    object
 2   Sex       891 non-null    object
 3   Age       891 non-null    int32
 4   Embarked  891 non-null    object
dtypes: int32(2), object(3)
memory usage: 28.0+ KB

In [80]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Embarked: string (nullable = false)

In [81]:
# 판다스에서는 겟더미로 원핫인코딩을 해줬지만 스파크에서는 그게 안됨. 그래서 string을 다 int로 바꾼 후 원핫 인코딩 해야함
df = df.withColumn('Age', df['Age'].cast('Integer'))
df = df.withColumn('Survived', df['Survived'].cast('Integer'))
df = df.withColumn('Pclass', df['Pclass'].cast('Integer'))

In [82]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Embarked: string (nullable = false)

# 문자형 컬럼 레이블 인코딩 => 원핫인코딩
* spark에서는 원핫 인코딩을 문자에서 바로 할 수 없다.
* StringIdexer => OneHotEncoding 순서로 해야함.

In [89]:
# 레이블 인코딩 하기 scikit-learn의 label encoding과 같은 역할
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCols=['Sex','Embarked'], outputCols=['SexIndex','EmbarkedIndex'])
df = indexer.fit(df).transform(df)

In [90]:
df.show()

+--------+------+------+---+--------+--------+-------------+
|Survived|Pclass|   Sex|Age|Embarked|SexIndex|EmbarkedIndex|
+--------+------+------+---+--------+--------+-------------+
|       0|     3|  male| 22|       S|     0.0|          0.0|
|       1|     1|female| 38|       C|     1.0|          1.0|
|       1|     3|female| 26|       S|     1.0|          0.0|
|       1|     1|female| 35|       S|     1.0|          0.0|
|       0|     3|  male| 35|       S|     0.0|          0.0|
|       0|     3|  male| 29|       Q|     0.0|          2.0|
|       0|     1|  male| 54|       S|     0.0|          0.0|
|       0|     3|  male|  2|       S|     0.0|          0.0|
|       1|     3|female| 27|       S|     1.0|          0.0|
|       1|     2|female| 14|       C|     1.0|          1.0|
|       1|     3|female|  4|       S|     1.0|          0.0|
|       1|     1|female| 58|       S|     1.0|          0.0|
|       0|     3|  male| 20|       S|     0.0|          0.0|
|       0|     3|  male| 39|       S|     0.0|          0.0|
|       0|     3|female| 14|       S|     1.0|          0.0|
|       1|     2|female| 55|       S|     1.0|          0.0|
|       0|     3|  male|  2|       Q|     0.0|          2.0|
|       1|     2|  male| 29|       S|     0.0|          0.0|
|       0|     3|female| 31|       S|     1.0|          0.0|
|       1|     3|female| 29|       C|     1.0|          1.0|
+--------+------+------+---+--------+--------+-------------+
only showing top 20 rows

In [91]:
# 원핫인코딩 하기 -> 먼저하면 오류남(레이블인코딩먼저)
from pyspark.ml.feature import OneHotEncoder
encoder = OneHotEncoder(inputCols=['SexIndex','EmbarkedIndex'], outputCols=['Sex_vec','Embarked_vec'])
df= encoder.fit(df).transform(df)

In [92]:
df.show()

+--------+------+------+---+--------+--------+-------------+-------------+-------------+
|Survived|Pclass|   Sex|Age|Embarked|SexIndex|EmbarkedIndex|      Sex_vec| Embarked_vec|
+--------+------+------+---+--------+--------+-------------+-------------+-------------+
|       0|     3|  male| 22|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     1|female| 38|       C|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|female| 26|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     1|female| 35|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male| 35|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male| 29|       Q|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|
|       0|     1|  male| 54|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male|  2|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     3|female| 27|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     2|female| 14|       C|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|female|  4|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     1|female| 58|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male| 20|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male| 39|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|female| 14|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     2|female| 55|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male|  2|       Q|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|
|       1|     2|  male| 29|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|female| 31|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     3|female| 29|       C|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
+--------+------+------+---+--------+--------+-------------+-------------+-------------+
only showing top 20 rows

In [93]:
df.drop('Sex','Embarked','SexIndex','EmbarkedIndex').show()

+--------+------+---+-------------+-------------+
|Survived|Pclass|Age|      Sex_vec| Embarked_vec|
+--------+------+---+-------------+-------------+
|       0|     3| 22|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     1| 38|    (1,[],[])|(2,[1],[1.0])|
|       1|     3| 26|    (1,[],[])|(2,[0],[1.0])|
|       1|     1| 35|    (1,[],[])|(2,[0],[1.0])|
|       0|     3| 35|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 29|(1,[0],[1.0])|    (2,[],[])|
|       0|     1| 54|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  2|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     3| 27|    (1,[],[])|(2,[0],[1.0])|
|       1|     2| 14|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|  4|    (1,[],[])|(2,[0],[1.0])|
|       1|     1| 58|    (1,[],[])|(2,[0],[1.0])|
|       0|     3| 20|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 39|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 14|    (1,[],[])|(2,[0],[1.0])|
|       1|     2| 55|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  2|(1,[0],[1.0])|    (2,[],[])|
|       1|     2| 29|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 31|    (1,[],[])|(2,[0],[1.0])|
|       1|     3| 29|    (1,[],[])|(2,[1],[1.0])|
+--------+------+---+-------------+-------------+
only showing top 20 rows

In [94]:
df = df.drop('Sex','Embarked','SexIndex','EmbarkedIndex')

In [95]:
df.show()

+--------+------+---+-------------+-------------+
|Survived|Pclass|Age|      Sex_vec| Embarked_vec|
+--------+------+---+-------------+-------------+
|       0|     3| 22|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     1| 38|    (1,[],[])|(2,[1],[1.0])|
|       1|     3| 26|    (1,[],[])|(2,[0],[1.0])|
|       1|     1| 35|    (1,[],[])|(2,[0],[1.0])|
|       0|     3| 35|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 29|(1,[0],[1.0])|    (2,[],[])|
|       0|     1| 54|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  2|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     3| 27|    (1,[],[])|(2,[0],[1.0])|
|       1|     2| 14|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|  4|    (1,[],[])|(2,[0],[1.0])|
|       1|     1| 58|    (1,[],[])|(2,[0],[1.0])|
|       0|     3| 20|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 39|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 14|    (1,[],[])|(2,[0],[1.0])|
|       1|     2| 55|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  2|(1,[0],[1.0])|    (2,[],[])|
|       1|     2| 29|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 31|    (1,[],[])|(2,[0],[1.0])|
|       1|     3| 29|    (1,[],[])|(2,[1],[1.0])|
+--------+------+---+-------------+-------------+
only showing top 20 rows

In [96]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex_vec: vector (nullable = true)
 |-- Embarked_vec: vector (nullable = true)

혹시 여기까지 헷갈리면 쌤꺼 깃허브 보기!!! 다시정리
한번 혼자 다시 해보기

# 종속변수 인덱싱, 독립변수 인덱싱
* pyspark 에서는 X, y를 나누지 않고, 독립변수는 1개의 벡터로 통합, 종속변수는 그대로 유지
* target, feature 두개의 컬럼만 남김

## 독립변수를 하나의 벡터로 만들기 Features
* VectorAssembler

In [97]:
df.columns

['Survived', 'Pclass', 'Age', 'Sex_vec', 'Embarked_vec']

In [98]:
from pyspark.ml.feature import VectorAssembler
feature_assembler = VectorAssembler(inputCols = ['Pclass', 'Age', 'Sex_vec', 'Embarked_vec'], outputCol = 'Features')
df = feature_assembler.transform(df)
df.show()

+--------+------+---+-------------+-------------+--------------------+
|Survived|Pclass|Age|      Sex_vec| Embarked_vec|            Features|
+--------+------+---+-------------+-------------+--------------------+
|       0|     3| 22|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,22.0,1.0,1.0...|
|       1|     1| 38|    (1,[],[])|(2,[1],[1.0])|[1.0,38.0,0.0,0.0...|
|       1|     3| 26|    (1,[],[])|(2,[0],[1.0])|[3.0,26.0,0.0,1.0...|
|       1|     1| 35|    (1,[],[])|(2,[0],[1.0])|[1.0,35.0,0.0,1.0...|
|       0|     3| 35|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,35.0,1.0,1.0...|
|       0|     3| 29|(1,[0],[1.0])|    (2,[],[])|[3.0,29.0,1.0,0.0...|
|       0|     1| 54|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,54.0,1.0,1.0...|
|       0|     3|  2|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,2.0,1.0,1.0,...|
|       1|     3| 27|    (1,[],[])|(2,[0],[1.0])|[3.0,27.0,0.0,1.0...|
|       1|     2| 14|    (1,[],[])|(2,[1],[1.0])|[2.0,14.0,0.0,0.0...|
|       1|     3|  4|    (1,[],[])|(2,[0],[1.0])|[3.0,4.0,0.0,1.0,...|
|       1|     1| 58|    (1,[],[])|(2,[0],[1.0])|[1.0,58.0,0.0,1.0...|
|       0|     3| 20|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,20.0,1.0,1.0...|
|       0|     3| 39|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,39.0,1.0,1.0...|
|       0|     3| 14|    (1,[],[])|(2,[0],[1.0])|[3.0,14.0,0.0,1.0...|
|       1|     2| 55|    (1,[],[])|(2,[0],[1.0])|[2.0,55.0,0.0,1.0...|
|       0|     3|  2|(1,[0],[1.0])|    (2,[],[])|[3.0,2.0,1.0,0.0,...|
|       1|     2| 29|(1,[0],[1.0])|(2,[0],[1.0])|[2.0,29.0,1.0,1.0...|
|       0|     3| 31|    (1,[],[])|(2,[0],[1.0])|[3.0,31.0,0.0,1.0...|
|       1|     3| 29|    (1,[],[])|(2,[1],[1.0])|[3.0,29.0,0.0,0.0...|
+--------+------+---+-------------+-------------+--------------------+
only showing top 20 rows

In [99]:
df = df.drop('Pclass', 'Age', 'Sex_vec', 'Embarked_vec')
df.show()

+--------+--------------------+
|Survived|            Features|
+--------+--------------------+
|       0|[3.0,22.0,1.0,1.0...|
|       1|[1.0,38.0,0.0,0.0...|
|       1|[3.0,26.0,0.0,1.0...|
|       1|[1.0,35.0,0.0,1.0...|
|       0|[3.0,35.0,1.0,1.0...|
|       0|[3.0,29.0,1.0,0.0...|
|       0|[1.0,54.0,1.0,1.0...|
|       0|[3.0,2.0,1.0,1.0,...|
|       1|[3.0,27.0,0.0,1.0...|
|       1|[2.0,14.0,0.0,0.0...|
|       1|[3.0,4.0,0.0,1.0,...|
|       1|[1.0,58.0,0.0,1.0...|
|       0|[3.0,20.0,1.0,1.0...|
|       0|[3.0,39.0,1.0,1.0...|
|       0|[3.0,14.0,0.0,1.0...|
|       1|[2.0,55.0,0.0,1.0...|
|       0|[3.0,2.0,1.0,0.0,...|
|       1|[2.0,29.0,1.0,1.0...|
|       0|[3.0,31.0,0.0,1.0...|
|       1|[3.0,29.0,0.0,0.0...|
+--------+--------------------+
only showing top 20 rows

# train과 test로 홀드아웃
* (train_data, test_data) = 데이터프레임.randomsplit(['훈련데이터 비율', '테스트데이터 비율'], seed=10)

In [101]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Features: vector (nullable = true)

In [102]:
(train_data, test_data) = df.randomSplit([0.8, 0.2], seed=10)

In [103]:
train_data.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Features: vector (nullable = true)

In [104]:
test_data.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Features: vector (nullable = true)

# 의사 결정 나무로 분석하기

In [105]:
from pyspark.ml.classification import DecisionTreeClassifier

In [106]:
dtc = DecisionTreeClassifier(featuresCol = 'Features', labelCol='Survived', maxDepth=3)
dtc = dtc.fit(train_data)
pred = dtc.transform(test_data)
pred.show()

+--------+--------------------+-------------+--------------------+----------+
|Survived|            Features|rawPrediction|         probability|prediction|
+--------+--------------------+-------------+--------------------+----------+
|       0|(5,[0,1],[3.0,21.0])|  [14.0,33.0]|[0.29787234042553...|       1.0|
|       0|(5,[0,1],[3.0,29.0])|  [14.0,33.0]|[0.29787234042553...|       1.0|
|       0|(5,[0,1],[3.0,30.0])|  [14.0,33.0]|[0.29787234042553...|       1.0|
|       0|[1.0,18.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,21.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,24.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,30.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,42.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,44.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,45.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,45.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,47.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,50.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,51.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,52.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,54.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,60.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
+--------+--------------------+-------------+--------------------+----------+
only showing top 20 rows

In [107]:
from sklearn.metrics import accuracy_score, classification_report

In [108]:
pred = pred.toPandas()

In [109]:
pred

,Survived,Features,rawPrediction,probability,prediction
0,0,"(3.0, 21.0, 0.0, 0.0, 0.0)","[14.0, 33.0]","[0.2978723404255319, 0.7021276595744681]",1.0
1,0,"(3.0, 29.0, 0.0, 0.0, 0.0)","[14.0, 33.0]","[0.2978723404255319, 0.7021276595744681]",1.0
2,0,"(3.0, 30.0, 0.0, 0.0, 0.0)","[14.0, 33.0]","[0.2978723404255319, 0.7021276595744681]",1.0
3,0,"[1.0, 18.0, 1.0, 0.0, 1.0]","[57.0, 35.0]","[0.6195652173913043, 0.3804347826086957]",0.0
4,0,"[1.0, 21.0, 1.0, 1.0, 0.0]","[57.0, 35.0]","[0.6195652173913043, 0.3804347826086957]",0.0
...,...,...,...,...,...
182,1,"[3.0, 29.0, 1.0, 1.0, 0.0]","[300.0, 36.0]","[0.8928571428571429, 0.10714285714285714]",0.0
183,1,"[3.0, 30.0, 1.0, 1.0, 0.0]","[300.0, 36.0]","[0.8928571428571429, 0.10714285714285714]",0.0
184,1,"[3.0, 31.0, 0.0, 1.0, 0.0]","[45.0, 25.0]","[0.6428571428571429, 0.35714285714285715]",0.0
185,1,"[3.0, 32.0, 1.0, 1.0, 0.0]","[300.0, 36.0]","[0.8928571428571429, 0.10714285714285714]",0.0
186,1,"[3.0, 44.0, 1.0, 1.0, 0.0]","[300.0, 36.0]","[0.8928571428571429, 0.10714285714285714]",0.0

In [110]:
print(accuracy_score(pred['prediction'], pred['Survived']))

0.8288770053475936

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [111]:
print(classification_report(pred['prediction'], pred['Survived']))

              precision    recall  f1-score   support

         0.0       0.96      0.80      0.87       137
         1.0       0.62      0.90      0.74        50

    accuracy                           0.83       187
   macro avg       0.79      0.85      0.81       187
weighted avg       0.87      0.83      0.84       187

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):