In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.functions import col

In [2]:
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/12/08 12:25:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
pwd

'/home/himedia'

In [4]:
df = spark.read.csv("./data/Taitanic_train.csv", header=True)

In [5]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [6]:
df.toPandas()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
888,889,0,3,"""Johnston, Miss. Catherine Helen """"Carrie""""""",female,None,1,2,W./C. 6607,23.45,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,None,Q

In [7]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [8]:
# toPandas().info() 로 데이터 타입변경 확인하기
df.withColumn('PassengerId', df['PassengerId'].cast('Integer')).toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int32
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    object
 6   SibSp        891 non-null    object
 7   Parch        891 non-null    object
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    object
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: int32(1), object(11)
memory usage: 80.2+ KB

In [9]:
# 문자타입 int로 바꿔주기

In [10]:
df = df.withColumn('PassengerId', df['PassengerId'].cast('Integer')).withColumn('Survived', df['Survived'].cast('Integer'))

In [11]:
df = df.withColumn('Pclass', df['Pclass'].cast('Integer')).withColumn('Age', df['Age'].cast('Integer')).withColumn('SibSp', df['SibSp'].cast('Integer')).withColumn('Parch', df['Parch'].cast('Integer')).withColumn('Fare', df['Fare'].cast('Integer'))

In [12]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: integer (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [13]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int32
 1   Survived     891 non-null    int32
 2   Pclass       891 non-null    int32
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int32
 7   Parch        891 non-null    int32
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    int32
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int32(6), object(5)
memory usage: 62.8+ KB

In [14]:
df.select(f.sum(df['Age'].isNull().cast('int'))).show()

+-------------------------------+
|sum(CAST((Age IS NULL) AS INT))|
+-------------------------------+
|                            177|
+-------------------------------+

In [15]:
# imputer를 사용한 결측값 처리하기
from pyspark.ml.feature import Imputer

In [16]:
imputer = Imputer(inputCols=['Age'], outputCols=['Age']).setStrategy('mean')
imputer.fit(df).transform(df).show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|  71|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|   7| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|  53| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877|   8| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|  51|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909|  21| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|  11| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|  30| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|  16|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082|  31| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406|   7| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|  16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652|  29| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373|  13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|  18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649|   7| null|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
only showing top 20 rows

In [17]:
# 나이 평균값으로 넣어주기
df = imputer.fit(df).transform(df)
df.show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|  71|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|   7| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|  53| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male| 29|    0|    0|          330877|   8| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|  51|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909|  21| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|  11| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|  30| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|  16|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082|  31| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406|   7| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|  16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652|  29| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| 29|    0|    0|          244373|  13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|  18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| 29|    0|    0|            2649|   7| null|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+----+-----+--------+
only showing top 20 rows

In [18]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int32
 1   Survived     891 non-null    int32
 2   Pclass       891 non-null    int32
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int32
 6   SibSp        891 non-null    int32
 7   Parch        891 non-null    int32
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    int32
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: int32(7), object(5)
memory usage: 59.3+ KB

In [19]:
# 결측값 많은 Cabin drop 시키기
df = df.drop('Cabin')

In [20]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int32
 1   Survived     891 non-null    int32
 2   Pclass       891 non-null    int32
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int32
 6   SibSp        891 non-null    int32
 7   Parch        891 non-null    int32
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    int32
 10  Embarked     889 non-null    object
dtypes: int32(7), object(4)
memory usage: 52.3+ KB

In [21]:
df.toPandas()['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [22]:
 # Embarked는 가장 많은 값인 S로 채워줌
df = df.na.fill('S', 'Embarked')

In [23]:
# 필요한 컬럼 외 전부 drop 시켜주기
df = df.drop('Fare', 'PassengerId', 'Name','SibSp','Parch','Ticket')

In [24]:
df.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int32
 1   Pclass    891 non-null    int32
 2   Sex       891 non-null    object
 3   Age       891 non-null    int32
 4   Embarked  891 non-null    object
dtypes: int32(3), object(2)
memory usage: 24.5+ KB

In [25]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Embarked: string (nullable = false)

In [26]:
# 레이블 인코딩 하기 scikit-learn의 label encoding과 같은 역할
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCols=['Sex','Embarked'], outputCols=['SexIndex','EmbarkedIndex'])
df = indexer.fit(df).transform(df)

In [27]:
df.show()

+--------+------+------+---+--------+--------+-------------+
|Survived|Pclass|   Sex|Age|Embarked|SexIndex|EmbarkedIndex|
+--------+------+------+---+--------+--------+-------------+
|       0|     3|  male| 22|       S|     0.0|          0.0|
|       1|     1|female| 38|       C|     1.0|          1.0|
|       1|     3|female| 26|       S|     1.0|          0.0|
|       1|     1|female| 35|       S|     1.0|          0.0|
|       0|     3|  male| 35|       S|     0.0|          0.0|
|       0|     3|  male| 29|       Q|     0.0|          2.0|
|       0|     1|  male| 54|       S|     0.0|          0.0|
|       0|     3|  male|  2|       S|     0.0|          0.0|
|       1|     3|female| 27|       S|     1.0|          0.0|
|       1|     2|female| 14|       C|     1.0|          1.0|
|       1|     3|female|  4|       S|     1.0|          0.0|
|       1|     1|female| 58|       S|     1.0|          0.0|
|       0|     3|  male| 20|       S|     0.0|          0.0|
|       0|     3|  male| 39|       S|     0.0|          0.0|
|       0|     3|female| 14|       S|     1.0|          0.0|
|       1|     2|female| 55|       S|     1.0|          0.0|
|       0|     3|  male|  2|       Q|     0.0|          2.0|
|       1|     2|  male| 29|       S|     0.0|          0.0|
|       0|     3|female| 31|       S|     1.0|          0.0|
|       1|     3|female| 29|       C|     1.0|          1.0|
+--------+------+------+---+--------+--------+-------------+
only showing top 20 rows

In [28]:
# 원핫인코딩 하기 -> 먼저하면 오류남(레이블인코딩먼저)
from pyspark.ml.feature import OneHotEncoder
encoder = OneHotEncoder(inputCols=['SexIndex','EmbarkedIndex'], outputCols=['Sex_vec','Embarked_vec'])
df= encoder.fit(df).transform(df)

In [29]:
df.show()

+--------+------+------+---+--------+--------+-------------+-------------+-------------+
|Survived|Pclass|   Sex|Age|Embarked|SexIndex|EmbarkedIndex|      Sex_vec| Embarked_vec|
+--------+------+------+---+--------+--------+-------------+-------------+-------------+
|       0|     3|  male| 22|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     1|female| 38|       C|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|female| 26|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     1|female| 35|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male| 35|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male| 29|       Q|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|
|       0|     1|  male| 54|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male|  2|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     3|female| 27|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     2|female| 14|       C|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|female|  4|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     1|female| 58|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male| 20|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  male| 39|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|female| 14|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     2|female| 55|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  male|  2|       Q|     0.0|          2.0|(1,[0],[1.0])|    (2,[],[])|
|       1|     2|  male| 29|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|female| 31|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|
|       1|     3|female| 29|       C|     1.0|          1.0|    (1,[],[])|(2,[1],[1.0])|
+--------+------+------+---+--------+--------+-------------+-------------+-------------+
only showing top 20 rows

In [30]:
# 인코딩 전 컬럼 지워주기
df = df.drop('Sex','Embarked','SexIndex','EmbarkedIndex')

In [31]:
df.show()

+--------+------+---+-------------+-------------+
|Survived|Pclass|Age|      Sex_vec| Embarked_vec|
+--------+------+---+-------------+-------------+
|       0|     3| 22|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     1| 38|    (1,[],[])|(2,[1],[1.0])|
|       1|     3| 26|    (1,[],[])|(2,[0],[1.0])|
|       1|     1| 35|    (1,[],[])|(2,[0],[1.0])|
|       0|     3| 35|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 29|(1,[0],[1.0])|    (2,[],[])|
|       0|     1| 54|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3|  2|(1,[0],[1.0])|(2,[0],[1.0])|
|       1|     3| 27|    (1,[],[])|(2,[0],[1.0])|
|       1|     2| 14|    (1,[],[])|(2,[1],[1.0])|
|       1|     3|  4|    (1,[],[])|(2,[0],[1.0])|
|       1|     1| 58|    (1,[],[])|(2,[0],[1.0])|
|       0|     3| 20|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 39|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 14|    (1,[],[])|(2,[0],[1.0])|
|       1|     2| 55|    (1,[],[])|(2,[0],[1.0])|
|       0|     3|  2|(1,[0],[1.0])|    (2,[],[])|
|       1|     2| 29|(1,[0],[1.0])|(2,[0],[1.0])|
|       0|     3| 31|    (1,[],[])|(2,[0],[1.0])|
|       1|     3| 29|    (1,[],[])|(2,[1],[1.0])|
+--------+------+---+-------------+-------------+
only showing top 20 rows

In [32]:
# 독립변수들 Features에 한번에 묶기
from pyspark.ml.feature import VectorAssembler
feature_assembler = VectorAssembler(inputCols = ['Pclass', 'Age', 'Sex_vec', 'Embarked_vec'], outputCol = 'Features')
df = feature_assembler.transform(df)
df.show()

+--------+------+---+-------------+-------------+--------------------+
|Survived|Pclass|Age|      Sex_vec| Embarked_vec|            Features|
+--------+------+---+-------------+-------------+--------------------+
|       0|     3| 22|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,22.0,1.0,1.0...|
|       1|     1| 38|    (1,[],[])|(2,[1],[1.0])|[1.0,38.0,0.0,0.0...|
|       1|     3| 26|    (1,[],[])|(2,[0],[1.0])|[3.0,26.0,0.0,1.0...|
|       1|     1| 35|    (1,[],[])|(2,[0],[1.0])|[1.0,35.0,0.0,1.0...|
|       0|     3| 35|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,35.0,1.0,1.0...|
|       0|     3| 29|(1,[0],[1.0])|    (2,[],[])|[3.0,29.0,1.0,0.0...|
|       0|     1| 54|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,54.0,1.0,1.0...|
|       0|     3|  2|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,2.0,1.0,1.0,...|
|       1|     3| 27|    (1,[],[])|(2,[0],[1.0])|[3.0,27.0,0.0,1.0...|
|       1|     2| 14|    (1,[],[])|(2,[1],[1.0])|[2.0,14.0,0.0,0.0...|
|       1|     3|  4|    (1,[],[])|(2,[0],[1.0])|[3.0,4.0,0.0,1.0,...|
|       1|     1| 58|    (1,[],[])|(2,[0],[1.0])|[1.0,58.0,0.0,1.0...|
|       0|     3| 20|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,20.0,1.0,1.0...|
|       0|     3| 39|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,39.0,1.0,1.0...|
|       0|     3| 14|    (1,[],[])|(2,[0],[1.0])|[3.0,14.0,0.0,1.0...|
|       1|     2| 55|    (1,[],[])|(2,[0],[1.0])|[2.0,55.0,0.0,1.0...|
|       0|     3|  2|(1,[0],[1.0])|    (2,[],[])|[3.0,2.0,1.0,0.0,...|
|       1|     2| 29|(1,[0],[1.0])|(2,[0],[1.0])|[2.0,29.0,1.0,1.0...|
|       0|     3| 31|    (1,[],[])|(2,[0],[1.0])|[3.0,31.0,0.0,1.0...|
|       1|     3| 29|    (1,[],[])|(2,[1],[1.0])|[3.0,29.0,0.0,0.0...|
+--------+------+---+-------------+-------------+--------------------+
only showing top 20 rows

In [33]:
# Features만 남기고 나머지 제거
df = df.drop('Pclass', 'Age', 'Sex_vec', 'Embarked_vec')
df.show()

+--------+--------------------+
|Survived|            Features|
+--------+--------------------+
|       0|[3.0,22.0,1.0,1.0...|
|       1|[1.0,38.0,0.0,0.0...|
|       1|[3.0,26.0,0.0,1.0...|
|       1|[1.0,35.0,0.0,1.0...|
|       0|[3.0,35.0,1.0,1.0...|
|       0|[3.0,29.0,1.0,0.0...|
|       0|[1.0,54.0,1.0,1.0...|
|       0|[3.0,2.0,1.0,1.0,...|
|       1|[3.0,27.0,0.0,1.0...|
|       1|[2.0,14.0,0.0,0.0...|
|       1|[3.0,4.0,0.0,1.0,...|
|       1|[1.0,58.0,0.0,1.0...|
|       0|[3.0,20.0,1.0,1.0...|
|       0|[3.0,39.0,1.0,1.0...|
|       0|[3.0,14.0,0.0,1.0...|
|       1|[2.0,55.0,0.0,1.0...|
|       0|[3.0,2.0,1.0,0.0,...|
|       1|[2.0,29.0,1.0,1.0...|
|       0|[3.0,31.0,0.0,1.0...|
|       1|[3.0,29.0,0.0,0.0...|
+--------+--------------------+
only showing top 20 rows

In [34]:
df.printSchema()

root
 |-- Survived: integer (nullable = true)
 |-- Features: vector (nullable = true)

In [35]:
# 홀드아웃
(train_data, test_data) = df.randomSplit([0.8, 0.2], seed=10)

In [36]:
from sklearn.metrics import accuracy_score, classification_report

In [37]:
# 1. 의사결정나무로 분류분석하기
from pyspark.ml.classification import DecisionTreeClassifier
dtc = DecisionTreeClassifier(featuresCol = 'Features', labelCol='Survived', maxDepth=3)
dtc = dtc.fit(train_data)
pred = dtc.transform(test_data)
pred.show()

+--------+--------------------+-------------+--------------------+----------+
|Survived|            Features|rawPrediction|         probability|prediction|
+--------+--------------------+-------------+--------------------+----------+
|       0|(5,[0,1],[3.0,21.0])|  [14.0,33.0]|[0.29787234042553...|       1.0|
|       0|(5,[0,1],[3.0,29.0])|  [14.0,33.0]|[0.29787234042553...|       1.0|
|       0|(5,[0,1],[3.0,30.0])|  [14.0,33.0]|[0.29787234042553...|       1.0|
|       0|[1.0,18.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,21.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,24.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,30.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,42.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,44.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,45.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,45.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,47.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,50.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,51.0,1.0,0.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,52.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,54.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
|       0|[1.0,60.0,1.0,1.0...|  [57.0,35.0]|[0.61956521739130...|       0.0|
+--------+--------------------+-------------+--------------------+----------+
only showing top 20 rows

In [38]:
pred = pred.toPandas()

In [39]:
print(accuracy_score(pred['prediction'], pred['Survived']))

0.8288770053475936

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [40]:
print(classification_report(pred['prediction'], pred['Survived']))

              precision    recall  f1-score   support

         0.0       0.96      0.80      0.87       137
         1.0       0.62      0.90      0.74        50

    accuracy                           0.83       187
   macro avg       0.79      0.85      0.81       187
weighted avg       0.87      0.83      0.84       187

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [41]:
# 2. 로지스틱 회귀로 분석하기
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(featuresCol = 'Features', labelCol='Survived')
lr_model = lr.fit(train_data)
pred_lr = lr_model.transform(test_data)
pred_lr.show()

+--------+--------------------+--------------------+--------------------+----------+
|Survived|            Features|       rawPrediction|         probability|prediction|
+--------+--------------------+--------------------+--------------------+----------+
|       0|(5,[0,1],[3.0,21.0])|[-0.8524554867554...|[0.29891801695402...|       1.0|
|       0|(5,[0,1],[3.0,29.0])|[-0.5914435832714...|[0.35630369786382...|       1.0|
|       0|(5,[0,1],[3.0,30.0])|[-0.5588170953359...|[0.36382120518609...|       1.0|
|       0|[1.0,18.0,1.0,0.0...|[-0.6564857817217...|[0.34152947319147...|       1.0|
|       0|[1.0,21.0,1.0,1.0...|[-0.2257327366102...|[0.44380523173684...|       1.0|
|       0|[1.0,24.0,1.0,0.0...|[-0.4607268541087...|[0.38681340803308...|       1.0|
|       0|[1.0,29.0,1.0,1.0...|[0.03527916687369...|[0.50881887705844...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|[0.03527916687369...|[0.50881887705844...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|[0.03527916687369...|[0.50881887705844...|       0.0|
|       0|[1.0,30.0,1.0,0.0...|[-0.2649679264957...|[0.43414287635598...|       1.0|
|       0|[1.0,42.0,1.0,1.0...|[0.45942351003516...|[0.61287740778868...|       0.0|
|       0|[1.0,44.0,1.0,0.0...|[-0.0158197094933...|[0.49604515510566...|       1.0|
|       0|[1.0,45.0,1.0,1.0...|[0.55730297384165...|[0.63582827110698...|       0.0|
|       0|[1.0,45.0,1.0,1.0...|[0.55730297384165...|[0.63582827110698...|       0.0|
|       0|[1.0,47.0,1.0,1.0...|[0.62255594971265...|[0.65079963600614...|       0.0|
|       0|[1.0,50.0,1.0,0.0...|[0.38756183221416...|[0.59569562251158...|       0.0|
|       0|[1.0,51.0,1.0,0.0...|[0.42018832014965...|[0.60352831234421...|       0.0|
|       0|[1.0,52.0,1.0,1.0...|[0.78568838939014...|[0.68690479525294...|       0.0|
|       0|[1.0,54.0,1.0,1.0...|[0.85094136526114...|[0.70076457802894...|       0.0|
|       0|[1.0,60.0,1.0,1.0...|[1.04670029287412...|[0.74014076160541...|       0.0|
+--------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [42]:
pred_lr = pred_lr.toPandas()

In [47]:
print(accuracy_score(pred_lr['prediction'], pred_lr['Survived']))

0.8181818181818182

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [48]:
print(classification_report(pred_lr['prediction'], pred_lr['Survived']))

              precision    recall  f1-score   support

         0.0       0.85      0.85      0.85       115
         1.0       0.76      0.76      0.76        72

    accuracy                           0.82       187
   macro avg       0.81      0.81      0.81       187
weighted avg       0.82      0.82      0.82       187

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [49]:
# 3. 랜덤 포레스트로 분석하기
from pyspark.ml.classification import RandomForestClassifier
rfc = RandomForestClassifier(featuresCol = 'Features', labelCol='Survived')
rfc_model = rfc.fit(train_data)
pred_rfc = rfc_model.transform(test_data)
pred_rfc.show()

+--------+--------------------+--------------------+--------------------+----------+
|Survived|            Features|       rawPrediction|         probability|prediction|
+--------+--------------------+--------------------+--------------------+----------+
|       0|(5,[0,1],[3.0,21.0])|[5.650259285866,1...|[0.28251296429330...|       1.0|
|       0|(5,[0,1],[3.0,29.0])|[6.10963428586600...|[0.30548171429330...|       1.0|
|       0|(5,[0,1],[3.0,30.0])|[10.4108750380389...|[0.52054375190194...|       0.0|
|       0|[1.0,18.0,1.0,0.0...|[12.4669035873005...|[0.62334517936502...|       0.0|
|       0|[1.0,21.0,1.0,1.0...|[11.1996675744355...|[0.55998337872177...|       0.0|
|       0|[1.0,24.0,1.0,0.0...|[12.4669035873005...|[0.62334517936502...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|[12.9412875646161...|[0.64706437823080...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|[12.9412875646161...|[0.64706437823080...|       0.0|
|       0|[1.0,29.0,1.0,1.0...|[12.9412875646161...|[0.64706437823080...|       0.0|
|       0|[1.0,30.0,1.0,0.0...|[11.4065259962827...|[0.57032629981413...|       0.0|
|       0|[1.0,42.0,1.0,1.0...|[12.4281800832691...|[0.62140900416345...|       0.0|
|       0|[1.0,44.0,1.0,0.0...|[12.3710629024484...|[0.61855314512242...|       0.0|
|       0|[1.0,45.0,1.0,1.0...|[12.9996086546976...|[0.64998043273488...|       0.0|
|       0|[1.0,45.0,1.0,1.0...|[12.9996086546976...|[0.64998043273488...|       0.0|
|       0|[1.0,47.0,1.0,1.0...|[12.9996086546976...|[0.64998043273488...|       0.0|
|       0|[1.0,50.0,1.0,0.0...|[10.7250810044929...|[0.53625405022464...|       0.0|
|       0|[1.0,51.0,1.0,0.0...|[10.7250810044929...|[0.53625405022464...|       0.0|
|       0|[1.0,52.0,1.0,1.0...|[12.8177904728794...|[0.64088952364397...|       0.0|
|       0|[1.0,54.0,1.0,1.0...|[12.8177904728794...|[0.64088952364397...|       0.0|
|       0|[1.0,60.0,1.0,1.0...|[13.3039973694312...|[0.66519986847156...|       0.0|
+--------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [50]:
pred_rfc = pred_rfc.toPandas()

In [51]:
print(accuracy_score(pred_rfc['prediction'], pred_rfc['Survived']))

0.8342245989304813

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [52]:
print(classification_report(pred_rfc['prediction'], pred_rfc['Survived']))

              precision    recall  f1-score   support

         0.0       0.97      0.80      0.88       138
         1.0       0.62      0.92      0.74        49

    accuracy                           0.83       187
   macro avg       0.80      0.86      0.81       187
weighted avg       0.88      0.83      0.84       187

/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/home/himedia/.conda/envs/spark/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):